.post-container {
  display: grid;
}

.post {
  /* padding: 1.2rem 0.8rem; */
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  column-gap: 10px;
}
.post-avatar {
  margin-top: 1.2rem;
  margin-left: 0.8rem;
}

.post-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1.2rem 0;
  margin-right: 0.8rem;
  /* font-size: medium; */
}

.post-name {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 5px;
}

.image-container {
  width: 100%;
  border-radius: 20px;
}

.post-name {
  color: var(--grey1);
  font-weight: 750;
}

.username {
  font-weight: bold;
  color: var(--twitter-color);
}

.verified {
  color: var(--twitter-color);
}

.post-text {
  color: var(--grey1);
}

.img {
  width: 100%;
  border-radius: 20px;
}

.utilites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--clr-grey-5);
  gap: 2rem;
}

.icon-container {
  max-width: 4rem;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.icon {
  font-size: 2.6rem !important;
  border-radius: 50%;
  padding: 0.6rem;
}

.icon-value {
  color: white;
}

.icon:hover {
  transition: all 0.2s ease-out;
  cursor: pointer;
  background-color: var(--clr-grey-1);
}
