.tweetBox {
  padding: 0.5rem 0;
  /* box-shadow: var(--light-shadow-white); */

  border-bottom: var(--border);
}

.tweetBox-input {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5rem 1rem;
  justify-items: center;
  column-gap: 10px;
}

.text-area {
  border: none;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: black;
  color: white;
  width: 100%;
  min-height: 5rem;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: vertical;
}

.text-area:focus {
  outline: none;
}

.text-area:hover {
  cursor: text;
}

.tools-area {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 3rem;
  place-items: center;
  padding: 0 1rem;
}

.progress-bar {
  /* width: 2rem !important; */
}

.tweetbox-tweet {
  display: block !important;
  background-color: var(--twitter-color) !important;
  color: white !important;
  border-radius: 15px !important;
  margin-left: auto !important;
  padding: 0.35rem 1.3rem !important;
}

.tweetbox-tweet:hover {
  transition: all 0.3s ease;
  background-color: var(--twitter-color-2) !important;
}
