.post.main {
  border-bottom: var(--border-dark);
}

.post-headers {
  display: flex;
  align-items: center;
}

.post-nested {
  height: 100%;
  overflow: hidden;
}

.vertical-line {
  height: 100%;
  width: 1.5px;
  background-color: var(--twitter-color);
  /* background-color: var(--border-color); */
  margin-left: 2.7rem;
  opacity: 0.9;
}

.vertical-line.parent {
  height: 1.2rem;
}

.post-avatar.nested {
  margin-top: 0;
}

.mg-bottom-0 {
  margin-bottom: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.icon.active {
  color: red;
}

.icon.active-blue {
  color: var(--twitter-color);
}
