.post.main {
  border-bottom: var(--border);
}

.post-headers {
  display: flex;
  align-items: center;
}

.post-nested {
  height: 100%;
  overflow: hidden;
}

.vertical-line {
  height: 100%;
  width: 1.5px;
  background-color: var(--twitter-color);
  /* background-color: var(--border-color); */
  margin-left: 2.7rem;
  opacity: 0.9;
}

.vertical-line.parent {
  height: 1.2rem;
}

.post-avatar.nested {
  margin-top: 0;
}

.mg-bottom-0 {
  margin-bottom: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.icon.active {
  color: red;
}

.icon.active-blue {
  color: var(--twitter-color);
}

.post-container {
  transition: var(--transition);
}
.post-container:hover {
  background-color: var(--clr-black-1);
}

.is-retweeted {
  text-transform: capitalize;
  display: flex;
  font-size: small;
  place-content: center;
  place-items: center;
  color: var(--clr-grey-5);
  gap: 0.6rem;
}

.is-retweeted svg {
  font-size: 1rem;
}
.is-retweeted p {
  color: var(--clr-grey-5);
}

.verified.small {
  font-size: medium;
}

.tweet-list {
  width: 100%;
  height: 100%;
}

.dot {
  font-size: 1.3rem;
}

.time-container {
  color: var(--clr-grey-5);
  display: grid;
  grid-auto-flow: column;
}
