/*
=============== 
Variables
===============
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-gray-9: #eeeeee;
  --clr-gray-8: #e0e0e0;
  --clr-gray-7: #bdbdbd;
  --clr-gray-6: #9e9e9e;
  --clr-gray-5: #757575;
  --clr-gray-4: #616161;
  --clr-gray-3: #424242;
  --clr-gray-3: #323232;
  --clr-gray-2: #212121;
  --clr-gray-1: #121212;
  /* black shades */
  --clr-black-1: #0d0d0d;
  --clr-black-2: #161616;
  --clr-black-3: #1f1f1f;
  --clr-black-4: #282828;

  /* gray shades mainly for text  */
  --grey1: #ccc;
  --grey2: #aaa;
  --grey3: #909090;
  --grey4: #717171;
  --grey5: #606060;
  /* complementary */
  --clr-tea: #678e3e;
  --clr-tea-light: #beed8c;
  --clr-main: #ffc71a;
  --clr-shade: #b0a717;
  /* --clr-shade: #fbc02d;
  --clr-main: #fbc02d; */
  --clr-black: #000;
  --clr-black-shade: #2f2f2f;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  --light-shadow-white: 0 0px 15px 5px rgba(255, 255, 255, 0.3);
  --dark-shadow-white: 0 0px 15px 5px rgba(255, 255, 255, 0.4);
  --ff-secondary: 'Grand Hotel';

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --light-shadow-white: 0 1px 10px rgba(255, 255, 255, 0.5);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --twitter-color: #1da1f2;
  --twitter-color-2: #0376be;
  --main-color: rgb(217, 217, 217);
  --border: 1px solid rgb(217, 217, 217, 0.3);
  --border-dark: 2.5px solid rgb(217, 217, 217, 0.4);
  --border-color: rgb(217, 217, 217, 0.3);
  --transition: all 0.2s ease;

  --toastify-color-light: var(--clr-gray-2) !important;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: var(--twitter-color) !important;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: red !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided */
  /* toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

html {
  scroll-behavior: smooth;
}

.Toastify__toast {
  border-radius: 15px !important;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'monospace', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  color: var(--twitter-color);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--grey1);
}
@media screen and (min-width: 800px) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.btn {
  color: black;
  background-color: transparent;
  text-transform: uppercase;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  text-transform: capitalize;
  width: 40%;
  color: var(--twitter-color);
  letter-spacing: var(--spacing);
  border: solid 2px var(--twitter-color);
  font-weight: 580;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--clr-gray-3);
  background-color: var(--twitter-color);
  color: black;
}
/*
=============== 
Tours
===============
*/
main {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem auto;
}
.loading {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}

.app {
  display: grid;
  grid-template-columns: auto 1.5fr 1fr;
  height: 100vh;
  /* min-width: 100vw; */
  max-width: 1300px;
  margin: 0 auto;
}

div#root {
  background-color: black;
  height: 100vh;
}

.svg {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .app {
    position: relative;
    grid-template-columns: 1fr auto;
    grid-auto-flow: dense;
  }
  .sidebar {
    font-size: small;
    z-index: 1;
    position: absolute;
    /* background-color: darkslategrey !important; */
    order: 1;
    display: grid;
    grid-auto-flow: column;
    bottom: 0;
    width: 100%;
    place-items: center;
    padding: 0 !important;
    padding-bottom: 0.3rem !important;
    border-top: var(--border);
  }

  /* .MuiSvgIcon-root {
    font-size: 1.3rem !important;
  } */
  .sidebaroptions:hover {
    background-color: none !important;
  }
  .sidebaroptions p {
    display: none;
  }
  .sidebaroptions:hover p {
    background-color: none !important;
  }
  .svg {
    margin: 0.8rem !important;
  }
  .widgets {
    display: none !important;
  }
  .home-avatar {
    margin: 0 !important;
  }
}

.wrapper {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.place-center {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.not-found {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--twitter-color);
  font-size: 2rem;
  text-transform: capitalize;
}

/* --------------TEXT EDITOR ---------------- */

.ql-container {
  border: none !important;
  font-size: medium !important;
}

.ql-editor {
  padding: 0 !important;
}

.hide {
  display: none !important;
}

.Toastify__toast-theme--light {
  color: var(--grey1) !important;
}

.Toastify__close-button--light {
  color: var(--grey1) !important;
  opacity: 1 !important;
}

.Toastify__close-button--light:hover {
  color: red !important;
}
